<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Ninja Gold</h1>
  <h2>Your Gold: {{gold}}</h2>

  <button (click)= "job()">Job <br> 3-7 gold</button>
  <button (click)= "dragonTamer()">Dragon Tamer <br> 5-10 gold</button>
  <button (click)= "petTherapist()">Pet Therapist <br> 15-20 gold</button>
  <button (click)= "casino()">Casino <br> Gain or Lose 50 gold</button>
  <br>
  <h2>Activity Log:</h2>
</body>
</html>


<router-outlet></router-outlet>