<a [routerLink]="['/']">Home</a>
<h4>Add a new author:</h4>
<div class="form">
    <form (submit)="onSubmit()" class="postForm">
        <p>{{newAuthor | json}}</p>
        <label>Name:
            <input type="text" name="newAuthor.name" [(ngModel)]="newAuthor.name">
        </label>
        <label>Type:
            <input type="text" name="newAuthor.type" [(ngModel)]="newAuthor.type">
        </label>
        <label>Description:
            <input type="text" name="newAuthor.description" [(ngModel)]="newAuthor.description">
        </label>
        <button type="submit">Submit</button>
    </form>
</div>

